* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  background-color: #f2f3f7;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 30px auto;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card h2 {
  margin-bottom: 15px;
  color: #222;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
}


button {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 5px;
}

button:hover {
  background-color: #574bdb;
}

p {
  background-color: #00b894;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  word-wrap: break-word;
}

.card button {
  margin-right: 8px;
}
